name: Test Compilation on Macos/Linux/Windows

on:
  push:
  pull_request:

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y clang make
    - name: test
      run: make re
  
  macos:
    runs-on: macos-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: test
      run: make re
    
  windows:
    runs-on: windows-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Setup MSYS2 (for make and clang)
      uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        update: true
        install: >-
          mingw-w64-x86_64-clang
          mingw-w64-x86_64-make
          make
    - name: Build with make
      shell: msys2 {0}
      run: make re
